In [49]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [84]:
df = pd.read_csv('data/userInfo.csv')

In [4]:
df

    id  userId  gender  age  height  nowWeight  hopeWeight  activity
0    3       2       1   23   160.0       50.0        47.0         1
1    4      12       1   23   160.3       50.2        47.3         1
2    5       3       2   20   165.0       55.0        47.0         1
3    7       5       1   30   157.0       59.0        49.0         1
4   23       8       1   17   163.0       57.0        50.0         3
5   24       9       1   15   145.0       45.0        39.0         3
6   25      10       2   27   185.0      100.0        95.0         2
7   26      11       2   23   180.0       90.0        75.0         2
8   27      13       1   13   147.0       40.0        35.0         3
9   28      14       1   35   157.0       55.0        50.0         1
10  29      15       1   24   157.0       51.1        47.0         2
11  30      16       1   17   160.0       57.0        53.0         1
12  31      17       1   23   175.0       70.0        60.0         1
13  32      18       1   27   175.0       70.0        62.0         1
14  33      19       1   30   150.0       52.0        45.0         3
15  34      20       1   22   160.0       85.0        50.0         1
16  35      21       1   35   175.0       80.0        45.0         1
17  36      22       2   27   173.0       72.0        69.0         3

In [85]:
X = df.loc[:,"gender" : "activity"]

In [86]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [87]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters= 3, random_state= 2)
y_pred = kmeans.fit_predict(X)

c:\Users\q1035\anaconda3\envs\lambda39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
c:\Users\q1035\anaconda3\envs\lambda39\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [88]:
y_pred

array([1, 1, 2, 1, 0, 0, 2, 2, 0, 1, 0, 1, 1, 1, 0, 1, 1, 2])

In [89]:
df['Group'] = y_pred

In [90]:
df

    id  userId  gender  age  height  nowWeight  hopeWeight  activity  Group
0    3       2       1   23   160.0       50.0        47.0         1      1
1    4      12       1   23   160.3       50.2        47.3         1      1
2    5       3       2   20   165.0       55.0        47.0         1      2
3    7       5       1   30   157.0       59.0        49.0         1      1
4   23       8       1   17   163.0       57.0        50.0         3      0
5   24       9       1   15   145.0       45.0        39.0         3      0
6   25      10       2   27   185.0      100.0        95.0         2      2
7   26      11       2   23   180.0       90.0        75.0         2      2
8   27      13       1   13   147.0       40.0        35.0         3      0
9   28      14       1   35   157.0       55.0        50.0         1      1
10  29      15       1   24   157.0       51.1        47.0         2      0
11  30      16       1   17   160.0       57.0        53.0         1      1
12  31      17       1   23   175.0       70.0        60.0         1      1
13  32      18       1   27   175.0       70.0        62.0         1      1
14  33      19       1   30   150.0       52.0        45.0         3      0
15  34      20       1   22   160.0       85.0        50.0         1      1
16  35      21       1   35   175.0       80.0        45.0         1      1
17  36      22       2   27   173.0       72.0        69.0         3      2

In [77]:
int(df[df['userId'] == 12]['Group'])

1

In [91]:
df = df[df['Group'] == int(df[df['userId'] == 12]['Group'])]

In [79]:
idx = df[df['userId'] == 12].index
df.drop(idx, inplace=True)

C:\Users\q1035\AppData\Local\Temp\ipykernel_6940\1458627858.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(idx, inplace=True)

In [92]:
df

    id  userId  gender  age  height  nowWeight  hopeWeight  activity  Group
0    3       2       1   23   160.0       50.0        47.0         1      1
1    4      12       1   23   160.3       50.2        47.3         1      1
3    7       5       1   30   157.0       59.0        49.0         1      1
9   28      14       1   35   157.0       55.0        50.0         1      1
11  30      16       1   17   160.0       57.0        53.0         1      1
12  31      17       1   23   175.0       70.0        60.0         1      1
13  32      18       1   27   175.0       70.0        62.0         1      1
15  34      20       1   22   160.0       85.0        50.0         1      1
16  35      21       1   35   175.0       80.0        45.0         1      1

In [93]:
posting_like = pd.read_csv('data/like.csv')

In [82]:
posting_like

,id,userId,content,imgurl,createdAt,updatedAt,likeCnt
0,8,14,test,test,2023-03-14 13:49:56,2023-03-14 13:49:56,4
1,1,13,test수,http://diet-health-app.s3.ap-northeast-2.amazo...,2023-03-08 13:38:10,2023-03-08 14:55:10,3
2,9,16,test1,test1,2023-03-14 13:49:56,2023-03-14 13:49:56,3
3,6,13,수정함함,http://diet-health-app.s3.ap-northeast-2.amazo...,2023-03-13 14:28:15,2023-03-14 12:10:38,1
4,10,14,testtest,testtest,2023-03-14 13:54:43,2023-03-14 13:54:43,1
5,3,12,귀여운 고양이,http://diet-health-app.s3.ap-northeast-2.amazo...,2023-03-12 11:13:47,2023-03-12 11:13:47,0

In [94]:
df_userId = df['userId']
posting_userId = posting_like['userId']

In [95]:
df['postingId'] = np.NaN

C:\Users\q1035\AppData\Local\Temp\ipykernel_6940\1493315291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['postingId'] = np.NaN

In [96]:
for i, j in enumerate(df_userId):
    for k, l in enumerate(posting_userId):
        if j == l:
            df['postingId'][i] = int(posting_like['id'][k])
            break

C:\Users\q1035\AppData\Local\Temp\ipykernel_6940\1281960193.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['postingId'][i] = int(posting_like['id'][k])
C:\Users\q1035\AppData\Local\Temp\ipykernel_6940\1281960193.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['postingId'][i] = int(posting_like['id'][k])

In [104]:
df

,id,userId,gender,age,height,nowWeight,hopeWeight,activity,Group,postingId
0,3,2,1,23,160.0,50.0,47.0,1,1,NaN
1,4,12,1,23,160.3,50.2,47.3,1,1,3.0
3,7,5,1,30,157.0,59.0,49.0,1,1,8.0
9,28,14,1,35,157.0,55.0,50.0,1,1,NaN
11,30,16,1,17,160.0,57.0,53.0,1,1,NaN
12,31,17,1,23,175.0,70.0,60.0,1,1,NaN
13,32,18,1,27,175.0,70.0,62.0,1,1,NaN
15,34,20,1,22,160.0,85.0,50.0,1,1,NaN
16,35,21,1,35,175.0,80.0,45.0,1,1,NaN

In [105]:
pd.merge(df, posting_like, how='left', left_on='postingId', right_on='likeCnt')

,id_x,userId_x,gender,age,height,nowWeight,hopeWeight,activity,Group,postingId,id_y,userId_y,content,imgurl,createdAt,updatedAt,likeCnt
0,3,2,1,23,160.0,50.0,47.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,12,1,23,160.3,50.2,47.3,1,1,3.0,1.0,13.0,test수,http://diet-health-app.s3.ap-northeast-2.amazo...,2023-03-08 13:38:10,2023-03-08 14:55:10,3.0
2,4,12,1,23,160.3,50.2,47.3,1,1,3.0,9.0,16.0,test1,test1,2023-03-14 13:49:56,2023-03-14 13:49:56,3.0
3,7,5,1,30,157.0,59.0,49.0,1,1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28,14,1,35,157.0,55.0,50.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,30,16,1,17,160.0,57.0,53.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,31,17,1,23,175.0,70.0,60.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,32,18,1,27,175.0,70.0,62.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,34,20,1,22,160.0,85.0,50.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,35,21,1,35,175.0,80.0,45.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
merge_left

,id_x,userId_x,gender,age,height,nowWeight,hopeWeight,activity,Group,postingId,id_y,userId_y,content,imgurl,createdAt,updatedAt,likeCnt
0,3,2,1,23,160.0,50.0,47.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,12,1,23,160.3,50.2,47.3,1,1,3.0,1.0,13.0,test수,http://diet-health-app.s3.ap-northeast-2.amazo...,2023-03-08 13:38:10,2023-03-08 14:55:10,3.0
2,4,12,1,23,160.3,50.2,47.3,1,1,3.0,9.0,16.0,test1,test1,2023-03-14 13:49:56,2023-03-14 13:49:56,3.0
3,7,5,1,30,157.0,59.0,49.0,1,1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28,14,1,35,157.0,55.0,50.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,30,16,1,17,160.0,57.0,53.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,31,17,1,23,175.0,70.0,60.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,32,18,1,27,175.0,70.0,62.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,34,20,1,22,160.0,85.0,50.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,35,21,1,35,175.0,80.0,45.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN